/* General Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, Roboto, Arial, sans-serif;
  margin: 0;
  background: #152D47;
}

.header {
  background: right/cover border-box url("img/mehdi-sepehri-unsplash.jpg") no-repeat transparent;
  height: 100vh;
}

/* Unspash Styles */

.unsplash {
  color: black;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  border-radius: 3px;
}

.top {
  position: absolute;
  left: 0;
  bottom: 0;
}

.unsplash:hover,
.unsplash:focus {
  background: black;
  color: white;
  outline: none;
}

.unsplash span {
  display: inline-block;
  padding: 2px 3px;
}

.unsplash svg {
  height: 12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top: -2px;
  fill: black;
}

.unsplash:hover svg,
.unsplash:focus svg {
  fill: white;
}

.bg {
  background: aliceblue;
}

/* Section Shapes Styles */

.shapes {
  margin: 5vmin;
  color: #FFCB70;
}

.shapes h1 {
  text-align: center;
  font-size: 10vmin;
  margin: 1em 0;
}

img {
  max-width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 2em;
  margin-bottom: 1em;
}

img:nth-of-type(odd) {
  float: left;
  shape-outside: circle(50% at 113px 103px);
}

img:nth-of-type(even) {
  float: right;
  shape-outside: circle(50% at 136px 101px);
  margin-left: 36px;
}

p {
  text-align: justify;
}
